<%= form_for @business do|f| %>
<p>Enter your Business Name:  <%= f.text_field :name, :placeholder => "Mikes Bikes" %></p>
<p>Enter your User Name:  <%= f.text_field :username, :placeholder => "All one word" %></p>
<p>Enter your Password:  <%= f.password_field :password, :placeholder => "make it good" %></p>
<p>Please confirm Password:  <%= f.password_field :password_confirmation, :placeholder => "again" %></p>
<p><%= f.submit "Create a Biz Acct" %></p>
<% end %>